<template>
  <div class="bottom-nav">

      <router-link class="link" to="/">
        <img src="@/assets/icons/home.svg" class="svg-link" alt="Page 1">
      </router-link>

      <router-link class="link" to="/account">
        <img src="@/assets/icons/account.svg" class="svg-link" alt="Page 2">
      </router-link>

      <router-link class="link" to="/settings">
        <img src="@/assets/icons/settings.svg" class="svg-link" alt="Page 3">
      </router-link>

  </div>
</template>

<script>

</script>


<style lang="scss" scoped>
.bottom-nav {
  display: flex;
  justify-content: space-between;
  background-color: #ececece9;
  padding: 10px;
  position: fixed; 
  bottom: 0; 
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 0.5px 0;
  z-index: 2;
}

.svg-link {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  vertical-align: middle;
}

.link {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


</style>
