<template>
    <div class="loading-screen">
      <img src="@/assets/img/splash.svg" />
    </div>
  </template>
  
  <script>
  export default {
    name: "LoadingScreen",
  };
  </script>
  
  <style scoped>
  .loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  </style>
  