<template>
  <div class="app">
    <router-view v-if="isAppLoaded" />
    <LoadingScreen v-else />
    <BottomNavBar />
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import BottomNavBar from "@/components/BottomNavBar.vue";
import LoadingScreen from "@/components/LoadingScreen.vue";

const isAppLoaded = ref(false);

onMounted(() => {
  setTimeout(() => {
    isAppLoaded.value = true;
  }, 2000);
});
</script>



<style lang="scss" scoped>

.app {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
